header {
    background-color: #fff;
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC solid;
    display: flex;
    align-items: center;
}

.logo object {
    left: 20px;
    position: relative;
}